h1 {
      text-align: center;
      color: #4CAF50;
    }
    h3 {
      text-align: center;
    }
.cards {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.card {
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card-image {
    width: 280px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin: 0 auto 15px;
}
